.navbar {
  width: 100%;
  height: 150px;
  position: absolute;
  background-image: $base-linear-gradient-up;

  .text-white {
    font-size: 32px;
    line-height: 38px;
    @extend %base-background-text;
    font-weight: 400;
    margin: -20px 0px 0px 150px;
  }

  .breadcrumbs {
    margin-top: -10px;
    margin-left: 15%;
    li {
      font-size: 16px;
      line-height: 19px;
      @extend %base-background-text;
      font-weight: 300;
      float: left;
      list-style: none;
      margin-right: 50px;
      cursor: pointer;
      input {
        background: transparent no-repeat;
        background-size: contain;
        border-style: none;
        width: 100px;
        margin: -15px 30px 0px 0px;
      }
    }
  }
}
