%base-background-text {
    color: $base-color-background;
    font-family: $font-primary;
}

%base-btn {
    max-width: 30px;
    height: 30px;
    cursor: pointer;
    color: $base-color-background;
    border: none;
    text-align: center;
    display: block;
    
    &:nth-child(1) {
      margin-right: 13px;
    }

    > img {
      width: 23px;
      margin-left: -11px;
    }
}

%base-card {
    height: 500px;
    width: 490px;
    margin: 20px;
    background-size: cover;
    background-position: center;
}