$font-primary: 'Lato', sans-serif;

$orange: #ffad1d;
$grey-dark: #464646; 
$grey: #ebebeb; 
$blue: #1cbbb4;
$white: #ffffff;
$black: #333333;
$transparent: rgba(112,112,112,0.30196078431372547);
$white-transparent: rgba(255,255,255,0.7019607843137254);
$main-card-blue: rgba(28,187,180,0.9019607843137255);


$base-color-down: $orange;
$base-color-like: $blue;
$base-color-background: $white;
$base-color-dialog-box: $grey;
$base-color-dialog-box-text:$black;

$radius-button: 5px;
$radius-tab: 5px;

$base-linear-gradient-up:linear-gradient(0deg, rgba(51,51,51,0) 0%, rgba(51,51,51,0.5294117647058824) 100%);
$base-linear-gradient-down: linear-gradient(0deg, rgba(0,0,0,0.611764705882353) 0%, rgba(0,0,0,0) 100%);;